*{
	margin: 0;
    font-family: "Helvetica"; 
    color: #354463;
}
.header
{
	height: 7.5em;
	display: flex;
	align-items: center;
}
.header h3{
	font-size: 1.75em;
	width: 100%;
	margin:0 auto;
	padding: 1.95%;
	text-align: center;

} 
.mainClass{
	height: 76.5em;
	background-image: url("assets/donation/annie-spratt-427340-unsplash@2x.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display: grid;
	grid-template-rows: 8% 84% 8%;
	grid-template-columns: 1fr 4fr 0.6fr 2.4fr 1fr;
	grid-template-areas: ". . . . ."
						 ". form . giveHope ."
						 ". . . . .";
}

.giveHope{
	grid-area: giveHope;
	font-family: flood-std,sans-serif;
	font-size: 4.5em;
	width: 100%;
	color: white;
}
.form{
	background-color: #354463;
	grid-area: form;
	padding: 0 10%;
}
.form h2{
	font-size: 1.75em;
	color: white;
	padding-top: 8.5%;
}
.form h6{
	font-size: 0.875em;
	color: white;
	 
}
.form h3{
	font-size: 1.25em;
	color: white;
	font-weight: lighter;
	padding: 0.625em 0;
	opacity: 0.3;
}
.form div{
	border-bottom: 0.125em solid #C1F7D5;
}
.left{
	float: left;
	width: 45%;
	margin-top:4%;
	display: block;
} 
.right{
	float:right;
	width: 45%;
	margin-top: 4%;
}
.full{
	width:100%;
	margin-top: 4%;
	display: inline-block;
}
.smaller{
	width: 42%;
}
select{
	border:none;
    background-color:#354463;
    width:100%;
    color:#C1F7D5;
    font-size: 1.25em;
    padding: 0.625em 0;
}
section .right, section .left{
	margin: 0;
}
h1{
	font-size: 1.75em;
	color: white;
	padding-top: 8.5%;
	display: inline-block;
}
.lastPartOfForm{
	margin-top:20%; 
}
a{
	color:#C1F7D5;
	line-height: 4;
}
.payment{
	border: none;
	float: right;
	padding: 0 5%;
	text-align: center;
	line-height: 2.5;
	background-color: #C1F7D5;
	border-radius: 1.5625em;
    font-size: 1.375em;
    font-weight: bold;

}
.year
{
	margin-top: 0.9em;
}

.footer{
	height: 23.125em;
	display: grid;
	grid-template-rows: 30% 40% 30%; 
	grid-template-columns:0.5fr 0.72fr 0.5fr 0.5fr 0.5fr 0.5fr 0.3fr 1fr;
	grid-template-areas: ". . . . . . . ."
						 ". column-a . column-b column-c column-d . column-e"
						 ". . . . . . . .";
}
.footer h2{
	grid-area: column-a;
	width: 68%;
	font-size: 1.375em;
}
.footer p{
	font-size: 0.875em;
}
.footer div{
	margin-right: 15%; 
}
.contactus{
	grid-area: column-b;
}
.contactus p{
	width: 100%;
}
.links{
	grid-area: column-c;
}
.links p{
	width: 60%;
}
.followus{
	grid-area: column-d;
}
.followus p{
	width: 50%;
}
.footer img{
	grid-area: column-e;
	width: 57%;
}

@media screen and (max-width:768px){
	.header
	{
		height: 7em;

	}
	
	header h3{
		font-size: 1.5em;
		width: 100%;
		
	}
	.mainClass{
		grid-template-rows: 5% 8% 2.4% 78.4% 6.1%;
		grid-template-columns: 8.33% 83.33% 8.33%;
		grid-template-areas: ". . ."
							 ". giveHope ."
							 ". . ."
							 ". form ."
							 ". . .";
	}
	.giveHope{
		font-size: 2.875em;
		width: 80%;
		padding-left: 10%;
		text-align: center;
	}
	.year
	{
		margin: 0.5em;
	}
	.payment
	{
		font-size: 1.375em;
	}
	.footer{
	height: 26.5em;
	grid-template-rows: 10% 40% 40% 10%; 
	grid-template-columns:1fr 2.5fr 1.2fr 2.2fr 1fr 3fr 1fr;
	grid-template-areas: ". . . . . . . "
						 ". column-a . column-b . column-d . "
						 ". . . column-c . column-e . "
						 ". . . . . . . ";
}
.footer h2{
	width: 95%;
}
.footer p{
	line-height: 1.5;
}
.footer h4{
	font-size: 0.6875em;
}
.footer div{
	margin-right: 0%; 
}
.links p{
	width: 60%;
	text-decoration: underline;
}
.followus p{
	width: 50%;
	text-decoration: underline;
}
.footer img{
	width: 93.5%;
}

}
@media screen and (max-width:568px){
	.header
	{
		height: 5em;
	}
	
	header h3{
		font-size: 1.5em;
		padding: 0em;
	}
	.mainClass {
		height: 60em;
	}
	.giveHope{
		font-size:2.8em;
		width: 100%;
		padding-left: 0;
	}
	.form h2{
		font-size: 1.375em;
	}
	.form h1{
		font-size: 1.125em;
	}
	.form h6{
		font-size: 0.5em;
	}
	.form h3{
		font-size: 0.8em;
	}
	select{
		font-size: 0.78em;
	}
	.year{
		margin-top: 0.65em;
	}
	.payment{
		float:left;
		width: 100%;
		padding: 0;
		font-size:1.375em;
	}
	.footer{
	height: 37.5em;
	grid-template-rows: 5% 30% 30% 30% 5%; 
	grid-template-columns:1fr 3fr 0.75fr 0.5fr 3.5fr 1fr;
	grid-template-areas: ". . . . . . "
						 ". column-a . . column-b . "
						 ". column-d . . column-c . "
						 ". . . column-e column-e . "
						 ". . . . . . ";
	}
	.footer h2{
	font-size: 1.125em;
	}
	.links p{
	width: 70%;
	}
	.footer img{
	width: 100%;
	}
}