* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  /* max-width: 1440px; */
  /* margin: 0 auto; */
}

/*-------Header-------*/
@media only screen and (min-width: 6em) {
  .header {
    display: grid;
    width: 100%;
    height: 12.5em;
    grid-template-columns: 8.51% 33.244% 19.94% 29.78% 8.526%;
    grid-template-rows: 16.5% 7% 20% 7% 14.5% 20% 15%;
    grid-template-areas:
      ". . . . ."
      ". . . aboutUs ."
      ". mainLogo . ourStories ."
      ". . . newsandEvents ."
      ". . . . ."
      ". donateToday donateToday donateToday ."
      ". . . . .";

  }

  .header div p {
    /* Layout Properties*/
    text-align: left;
    padding-top: 0em;
    /* Display Properties*/
    font-size: 1em;
    color: #354463;
    font: Light 16px/24px Helvetica;
    opacity: 1;
    letter-spacing: -0.16px;
  }

  .ourStories p {
    margin-top: 0.75em !important;
  }

  .mainLogo h3 {
    /* Layout Properties*/
    text-align: left;
    padding-top: 0em;
    /* UI Properties */
    color: #354463;
    font-size: 1.125em;
    font: Bold Helvetica;
    opacity: 1;
    letter-spacing: 0;

  }

  .header div p {
    /* Layout Properties*/
    text-align: left;

    /* Display Properties*/
    font-size: 1em;
    color: #354463;
    font: Light Helvetica;
    opacity: 1;
    letter-spacing: -0.16px;
  }

  .donateToday {
    height: 2.5em;
    width: 100%;
    margin-top: 0em;
    background-color: #c1f7d5;
    border-radius: 1.5em;

  }

  .donateToday h4 {
    /* Layout Properties*/
    margin-top: 0.625em;
    text-align: center;
    /* UI Properties */
    opacity: 1;
    color: #354463;
    font: Bold Helvetica;
  }

  /*  *************Section-A********************* */

  .grid {
    width: 100%;
    height: 37em;
    display: grid;
    grid-template-columns: 8.51% 82.97% 8.52%;
    grid-template-rows: 5.40% 22.97% 22.97% 40.54% 8.12%;
    grid-template-areas: ". . ."
      ". stopClimateChangeImage . "
      ". . ."
      ". climateBox ."
      ". . .";
  }

  .bgImage {

    background-image: url("assets//home//annie-spratt-135307-unsplash@3x.png");
    width: 100%;
    height: 37em;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }


  .stopClimateChangeImage img {
    height: 100%;
    width: 48.138%;
    background-size: 100% 100%;
  }


  .climateBox {
    position: relative;
    width: 100%;
    height: 100%;
    background: #ffffff 0% 0% no-repeat border-box;
  }

  .theIssuue {
    position: absolute;
    width: 51.28%;
    height: 16.16%;
    left: 24.35%;
    top: -3.37%;
    background: #354463 0% 0% no-repeat padding-box;
  }

  .theIssuue p {
    margin-top: 0.7em;
    color: #fff !important;

    text-align: center;
  }

  .contentOfClimateBox {
    position: absolute;
    height: 32.5%;
    width: 89.10%;
    left: 6.08%;
    top: 23.33%;
    background-color: #fff;

  }

  .contentOfClimateBox h2 {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 1.375em;
    text-align: left;
    letter-spacing: 0;
    color: #354463;
  }

  .readMorecontentOfClimateBox {
    position: absolute;
    top: 65.83%;
    height: 17.5%;
    width: 79.48%;
    left: 10.25%;
  }

  .readMorecontentOfClimateBox p {

    font-weight: lighter;
    text-decoration: underline;
    letter-spacing: -0.01em;
    color: #354463;
    opacity: 1;
  }

  /* ********Section-B************* */

  .takeActionContent {
    position: relative;

    background-color: #c1f7D5;
    display: grid;
    height: 20.5em;
    grid-template-columns: 8.51% 38.29% 6.38% 38.29% 8.53%;
    grid-template-rows: 19.81% 27.134% 8.23% 27.134% 17.692;
    grid-template-areas:
      ". . . . ."
      ". column1 . column2 ."
      ". . . . ."
      ". column3 . column4 ."
      ". . . . .";
  }


  .learn {
    grid-area: column1;
    margin-top: 0em;
  }

  .volunteer {
    grid-area: column2;
    margin-top: 0em;

  }

  .share {
    grid-area: column3;
    margin-top: 0em;

  }

  .donate {
    grid-area: column4;
    margin-top: 0em;

  }

  .takeAction {
    position: absolute;

    width: 42.553%;
    height: 12.19%;
    left: 28.72%;
    top: -6.09%;
    background: #354463 0% 0% no-repeat padding-box;

  }


  /*********** Section-C ************/

  .whatWeDoForClimate {
    display: grid;
    width: 100%;
    height: 108em;
    grid-template-columns: 8.51% 82.97% 8.52%;
    grid-template-rows: 2.48% 2.31% 1.27% 7.75% 4.74% 79.57% 1.88%;
    background-color: #354463;
    border: 1px solid black;
    grid-template-areas:
      ". . ."
      ". whatWeDo ."
      ". . ."
      ". ourMission ."
      ". . ."
      ". differentApproaches ."
      ". . .";
  }

  .whatWeDo {
    grid-area: whatWeDo;
    width: 51.28%;
    margin-left: 24.35%;
    color: #354463;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    text-align: center;
  }

  .whatWeDo p {
    margin-top: 0.5em;
    font: Regular 14px/17px Helvetica;
  }

  .ourMission {
    grid-area: ourMission;

  }

  .ourMission h2 {
    color: #FFFFFF;
    letter-spacing: 0;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 1.375em;
    letter-spacing: 0;
    text-align: center;
  }

  .differentApproaches {
    grid-area: differentApproaches;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30.18 30.18 30.18%;
    grid-template-areas: "treePlantingInitiative"
      " educationAndTraining"
      "advocacyAndCampaigning";
    grid-row-gap: 4.73%;

  }

  .treePlantingInitiative {
    position: relative;
    grid-area: treePlantingInitiative;
    background-color: #fff;
  }

.educationAndTraining {
    position: relative;
    grid-area: educationAndTraining;
    background-color: #fff;
  }

   .advocacyAndCampaigning {
    position: relative;
    grid-area: advocacyAndCampaigning;
    background-color: #fff;
  }

  .differentApproaches img {
    position: absolute;
    width: 79.48%;
    height: 42.40%;
    left: 10.25%;
    top: -7.95%;
  }

  .headingOfDifferentApproaches {
    position: absolute;
    left: 17.62%;
    height: 4.33%;
    top: 42.89%;
    width: 64.74%;
  }

  .headingOfDifferentApproaches h1 {
    color: #354463;
    font-size: 1.125em;
    text-align: left;

    font-weight: bold;
    letter-spacing: 0;
    opacity: 1;
  }

  .contentOfDifferentApproaches {
    position: absolute;
    left: 11.37%;
    height: 2.26%;
    top: 52.53%;
    width: 77.56%;
  }

  .contentOfDifferentApproaches p {
    color: #354463;
    text-align: center;

    font-weight: lighter;
    letter-spacing: -0.01em;
    font-size: 1em;
    line-height: 1.5;
  }

  .readMoreButtonOfDifferentApproaches {
    position: absolute;
    border-radius: 6.25em;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    left: 25.64%;
    height: 9.63%;
    top: 82.65%;
    width: 48.71%;
  }

  .readMoreButtonOfDifferentApproaches h2 {
    text-align: center;
    padding-top: 0.5em;
    font: Helvetica;
    font-weight: bold;
    font-size: 1.125em;
    opacity: 1;
    letter-spacing: 0;
  }

  /* ******************Section-D********************* */
  .backGroundImage {
    width: 100%;
    height: 63em;
    background-image: url("assets//home//did-you-know-background@3x.png");
    background-size: 100% 100%;
  }

  .climateChangeIsAHungerIssue {


    height: 63em;
    width: 100%;
    display: grid;
    grid-template-columns: 8.51% 82.98% 8.51%;
    grid-template-rows: 6.34% 31.74% 58.75% 3.17%;
    grid-template-areas: ". . ."
      ". climateChangeHunger  ."
      ". aboutPovertyBlock .";
  }

  .climateChangeHunger {
    grid-area: climateChangeHunger;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60% 37.5%;
    grid-row-gap: 2.5%;
  }

  .climateChangeHungerImage img {
    width: 85%;
    height: 100%;

  }

  .readMoreOnClimateChangeHunger {
    height: 33.33%;
    width: 48.71%;
    border-radius: 6.25em;
    background-color: #C1F7D5;
  }

  .readMoreOnClimateChangeHunger h2 {
    text-align: center;
    padding-top: 0.7em;

    color: #354463;
    font-weight: bold;
    font-size: 1em;
    opacity: 1;
    letter-spacing: 0;
  }

  .aboutPovertyBlock {
    grid-area: aboutPovertyBlock;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 22.97% 22.97% 22.97% 22.97%;
    grid-template-areas: "povertyReason"
      "povertyReason"
      "povertyReason"
      "povertyReason";
    grid-row-gap: 2.70%;
  }

  .povertyReason {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }

   .headingOfPovertyReasons {
    position: absolute;
    top: 25%;
    left: 10.25%;
    height: 16.17%;

    font-weight: bold;
    color: #354463;
    text-align: left;
    font-size: 1.375em;
    opacity: 1;
  }

   .contentOfPovertyReasons {
    position: absolute;
    top: 54.411%;
    left: 10.25%;
    width: 65%;

    font-weight: lighter;
    color: #354463;
    text-align: left;
    line-height: 1.5;
    font-size: 0.875em;

  }

   .twitterLogo {
    position: absolute;
    width: 10.25%;
    height: 23.52%;
    left: 79.48%;
    top: 17.64%;
    background-color: #C1F7D5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

   .twitterLogo img {
    /* padding: 0.5em; */
    width: 50%;
    height: 50%;
  }

   .facebookLogo {
    position: absolute;
    /* background-image: url("assets/home/iconmonstr-twitter-1@2x.png"); */
    width: 10.25%;
    height: 23.52%;
    left: 79.48%;
    top: 58.82%;
    background-color: #C1F7D5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

   .facebookLogo img {
    padding: 0.5em 0.75em;
    width: 30%;
    height: 50%;
  }

  .didYouKnow {
    position: absolute;
    width: 51.28%;
    height: 29.41%;
    left: 24.35%;
    top: -14.70%;
    background: #354463 0% 0% no-repeat padding-box;

  }

  .didYouKnow p {
    margin-top: 0.56em;
    color: #fff !important;

    text-align: center;
  }

  /* **************Section-E**************** */
  .stories {
    position: relative;
    width: 100%;
    height: 52.5em;
  }

  .storiesImage {
    position: absolute;
    background-image: url("assets/home/lady-baby@3x.png");

    width: 82.97%;
    height: 37.14%;
    right: 8.01%;
    top: 6.66%;
    background-size: 100% 100%;

  }

  .storiesSection {
    position: absolute;
    background-color: #354463;
    width: 100%;
    height: 94.87%;
    top: 110.25%;
    right: 0%;
  }

  .legend {
    position: absolute;
    height: 12.82%;
    width: 51.28%;
    left: 24.35%;
    top: -6.41%;
    background-color: #354463;
  }

  .legend p {
    text-align: center;
    padding-top: 0.6875em;
    color: #ffffff;
  }

  .contentOfStories {
    position: absolute;
    width: 80%;
    height: 68.58%;
    top: 9.79%;
    left: 10.25%;
  }

  .contentOfStories h2 {
    font-size: 1.375em;
    text-align: left;
    letter-spacing: 0;
    color: #ffffff;
    opacity: 1;

    font-weight: bold;
  }

  .tagLineOfContent {
    position: absolute;
    height: 6.08%;
    width: 85%;
    top: 84.12%;
    left: 10.25%;
  }

  .tagLineOfContent p {
    text-align: left;
    text-decoration: underline;
    font-size: 0.6875em;
    letter-spacing: -0.035;
    color: #ffffff;
    opacity: 1;
  }

  .readMoreStories {
    position: absolute;
    height: 4.76%;
    width: 41.48%;
    top: 86.66%;
    left: 20.74%;
    border-radius: 6.25em;
    background-color: #C1F7D5;
  }

  .readMoreStories h2 {
    text-align: center;
    padding-top: 0.5em;
    font-family: Helvetica;
    color: #354463;
    font-weight: bold;
    font-size: 1.125em;
    opacity: 1;
    letter-spacing: 0;
  }



  .letsTakeActionNow {
    height: 109.5em;
    width: 100%;
    display: grid;
    background-color: #354463;
    grid-template-columns: 8.51% 82.98% 8.51%;
    grid-template-rows: 3.93% 10.61% 4.16% 36.35% 5.42% 36.35% 3.18%;
    grid-template-areas: ". . ."
      ". headingOfletsTakeActionNow ."
      ". . ."
      ". earthDay ."
      ". . ."
      ". allUpdates ."
      ". . .";
  }


  .headingOfletsTakeActionNow {
    grid-area: headingOfletsTakeActionNow;
    width: 100%;
    height: 100%;
  }

  .headingOfletsTakeActionNow h2 {
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0;
    font-size: 2.75em;
    font-family: flood-std;
    line-height: 1;
    opacity: 1;
  }

  .earthDay {
    grid-area: earthDay;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 48.97% 47.88%;
    grid-row-gap: 3.15%;
    grid-template-areas: "earthDayImage "
      "earthDay2018";
  }

  .earthdayImage {
    grid-area: earthDayImage;
    background-image: url("assets/home/tree-planting@3x.png");
    height: 100%;
    background-size: 100% 100%;
  }

  .earthDay2018 {
    grid-area: earthDay2018;
    width: 100%;
    position: relative;
  }

  .event {
    position: absolute;
    height: 13.11%;
    width: 51.28%;
    top: -115.57%;
    left: 24.67%;
    background-color: #ffffff;

  }

  .event p {

    text-align: center;
    font-weight: lighter;
    padding-top: 0.6em;
    font-size: 0.875em;
    color: #354463;
    letter-spacing: 0.35em;
  }

  .headingOfearthDay2018 {
    position: absolute;
    top: 0%;
  }

  .headingOfearthDay2018 h2 {
    color: #ffffff;
    font-size: 1.375em;
    text-align: center;

    font-weight: bold;
    letter-spacing: 0;
  }

  .contentofearthDay2018 {
    position: absolute;
    top: 28.84%;
    width: 100%;
  }

  .contentofearthDay2018 p {
    text-align: center;
    color: #ffffff;
    font-size: 0.875em;
    line-height: 1.5;

    font-weight: lighter;
    letter-spacing: 0;
  }

  .readMoreOnearthDay2018 {
    position: absolute;
    height: 13.33%;
    width: 50%;
    top: 75.32%;
    left: 25.32%;
    border-radius: 6.25em;
    background-color: #C1F7D5;
  }

  .readMoreOnearthDay2018 h2 {
    text-align: center;
    padding-top: 0.6em;

    color: #354463;
    font-weight: bold;
    font-size: 1.125em;
    opacity: 1;
    letter-spacing: 0;
  }

  .allUpdates {
    grid-area: allUpdates;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 48.97% 47.88%;
    grid-row-gap: 3.15%;
    grid-template-areas: "insideAllUpdates"
      "allUpdatesImage";
  }


  .latestNews {
    position: absolute;
    height: 13.11%;
    width: 51.28%;
    top: -115.57%;
    left: 24.67%;
    background-color: #ffffff;

  }

  .latestNews p {

    text-align: center;
    font-weight: lighter;
    padding-top: 0.6em;
    font-size: 0.875em;
    color: #354463;
    letter-spacing: 0.35em;
  }

  .updatesFromTheFall {
    position: absolute;
    top: 0%;
  }

  .updatesFromTheFall h2 {
    color: #ffffff;
    font-size: 1.375em;
    text-align: center;

    font-weight: bold;
    letter-spacing: 0;
  }

  .contentOfAllUpdates {
    position: absolute;
    top: 28.84%;
    width: 100%;
  }

  .contentOfAllUpdates p {
    text-align: center;
    color: #ffffff;
    font-size: 0.875em;
    line-height: 1.5;

    font-weight: lighter;
    letter-spacing: 0;
  }

  .readMoreAllUpdates {
    position: absolute;
    height: 13.33%;
    width: 50%;
    top: 75.32%;
    left: 25.32%;
    border-radius: 6.25em;
    background-color: #C1F7D5;
  }

  .readMoreAllUpdates h2 {
    text-align: center;
    padding-top: 0.6em;

    color: #354463;
    font-weight: bold;
    font-size: 1.125em;
    opacity: 1;
    letter-spacing: 0;
  }

  .allUpdatesImage {
    grid-area: insideAllUpdates;
    background-image: url("assets/home/meeting@3x.png");
    height: 100%;
    background-size: 100% 100%;
  }

  .insideAllUpdate {
    grid-area: allUpdatesImage;
    width: 100%;
    position: relative;
  }



  /** *************Section-F**************** */
  .subscribe {
    background-color: #C1F7D5;
    display: grid;
    width: 100%;
    height: 13.5em;
    grid-template-columns: 8.51% 85.63% 5.86%;
    grid-template-rows: 16.66% 68.51% 14.83%;
    grid-template-areas: ". . ."
      ". subscriptionDetails ."
      ". . .";
  }

  .subscriptionDetails {
    grid-area: subscriptionDetails;
    display: grid;
    grid-template-columns: 59.62% 40.32%;
    grid-template-rows: 52.70 27.02%;
    grid-gap: 20.28% 0%;
    grid-template-areas: "headingOfSubscriptionDetails headingOfSubscriptionDetails"
      "mailIdforSubscription readMoreForSubscription";
  }

  .headingOfSubscriptionDetails {
    grid-area: headingOfSubscriptionDetails;
  }

  .headingOfSubscriptionDetails h2 {
    color: #354463;
    font-size: 1.375em;

    font-weight: bold;
    text-align: left;
    letter-spacing: 0;
  }

  .mailIdforSubscription {
    grid-area: mailIdforSubscription;
    background-color: #fff;
    margin: 0em 0em;
    border-radius: 6.25em;
  }

  .mailIdforSubscription p {
    margin: 0.9em 0em 0.75em 0.85em;
    font-size: 0.9em;
  }

  .readMoreForSubscription {
    grid-area: readMoreForSubscription;
    margin: 0em 0em 0em 0.5em;
    border-radius: 6.25em;
    background-color: #354463;
  }

  .readMoreForSubscription h2 {
    margin: 0.75em 0em 0em 0em;

    font-size: 1em;
    color: #FFFFFF;
    text-align: center;
  }

  /* ************Footer******************** */

  .footer {
    height: 26.5em;
    width: 100%;
    display: grid;

    grid-template-columns: 8.33% 19.92% 9.24% 16.40% 12.76% 23.56% 9.79%;
    grid-template-rows: 14.15% 32.54% 10.09% 32.07% 11.15%;
    grid-template-areas: ". . . . . . ."
      ". footerMainLogo .  contactUs . followUs ."
      ". . . . . . ."
      ". . . links . footerImage ."
      ". . . . . . .";
  }

  .footerMainLogo {
    grid-area: footerMainLogo;
  }

  .footerMainLogo h2 {
    text-align: left;

    font-weight: bold;
    font-size: 1.375em;
    color: #354463;
  }

  .contactUs {
    grid-area: contactUs;
    width: 70%;
    margin-left: 0em;
  }

  .contactUs h2,
  .links h2,
  .followUs h2 {
    text-align: left;

    line-height: 2;
    font-size: 0.875em;
    color: #354463;
  }

  .contactUs p,
  .links p,
  .followUs p {
    text-align: left;
    font-weight: Helvetica;
    letter-spacing: -0.0875em;
    color: #354463;
    font-size: 0.875em;
    font-weight: lighter;
    line-height: 1.5;
  }

  .links {
    grid-area: links;
    width: 60%;
    text-decoration: underline;
    margin-left: 0em;
  }

  .followUs {
    grid-area: followUs;
    width: 70%;
  }

  .footerImage {
    grid-area: footerImage;
  }

  .footerImage img {
    width: 100%;
    height: 100%;
  }

  /* *************Footer****************** */

  .footer {
    height: 37.5em;
    width: 100%;
    display: grid;
    grid-template-columns: 8.51% 35.10% 48.13% 8.26%;
    grid-template-rows: 11.16% 16% 13% 18.16% 9.80% 22.66% 9.22%;
    grid-template-areas: ". . . ."
      ". footerMainLogo contactUs ."
      ". . . ."
      ". followUs links ."
      ". . . ."
      ". . footerImage ."
      ". . . .";
  }

  .footerMainLogo {
    grid-area: footerMainLogo;
  }

  .footerMainLogo h2 {
    text-align: left;

    font-weight: bold;
    font-size: 1.125;
    color: #354463;
  }

  .contactUs {
    grid-area: contactUs;
    width: 70%;
    margin-left: 1.8125em;
  }

  .contactUs h2,
  .links h2,
  .followUs h2 {
    text-align: left;
    line-height: 2;
    font-size: 0.875em;
    color: #354463;
  }

  .contactUs p,
  .links p,
  .followUs p {
    text-align: left;

    letter-spacing: -0.0875em;
    color: #354463;
    font-size: 0.875em;
    font-weight: lighter;
    line-height: 1.5;
  }

  .links {
    grid-area: links;
    width: 40%;
    text-decoration: underline;
    margin-left: 1.8125em;
  }

  .followUs {
    grid-area: followUs;
    width: 70%;
  }

  .footerImage {
    grid-area: footerImage;
  }

  .footerImage img {
    width: 100%;
    height: 100%;
  }

}

/* ********Common Properties********* */
.mainLogo {
  grid-area: mainLogo;
}

.aboutUs {
  grid-area: aboutUs;
}

.ourStories {
  grid-area: ourStories;
}

.newsandEvents {
  grid-area: newsandEvents;
}

.donateToday {
  grid-area: donateToday;
}

/* ************Section-a ******************/
.climateBox {
  grid-area: climateBox;
}

.stopClimateChangeImage {
  grid-area: stopClimateChangeImage;
}

/********** Section-b**************/
.takeActionContent>div>h2 {
  color: #354463;
  text-align: left;

  font-weight: bold;
}

.takeActionContent div p {
  color: #354463;

  font-weight: light;
  font-size: 90%;
  line-height: 1.5;
}

.takeAction p {
  margin-top: 0.56em;
  color: #fff !important;

  text-align: center;
}