
*
{
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}
@media only screen and (max-width: 48em)
{
    .stories
    {
        position: relative;
        width: 100%;
        height: 52.5em;
    }
    .storiesImage
    {
        position: absolute;
        background-image: url("assets/home/lady-baby@3x.png");
    
        width: 82.97%;
        height: 37.14%;
        right: 8.01%;
        top: 6.66%;
        background-size: 100% 100%;
        
    }
   
    .storiesSection 
    {
        position: absolute;
        background-color:#354463;
        width: 100%;
        height: 94.87%;
        top:110.25%;
        right: 0%;
    }
    .legend
    {
        position: absolute;
        height: 12.82%;
        width: 51.28%;
        left: 24.35%;
        top: -6.41%;
        background-color:#354463;
    }
    .legend p
    {
        text-align: center;
        padding-top: 0.6875em;
        color: #ffffff;
    }
    .contentOfStories
    {
        position: absolute;
        width: 80%;
        height: 68.58%;
        top: 9.79%;
        left: 10.25%;
    }
    .contentOfStories h2
    {
        font-size: 1.375em;
        text-align: left;
        letter-spacing: 0;
        color: #ffffff;
        opacity: 1;
        font-family: Helvetica;
        font-weight: bold;
    }
    .tagLineOfContent
    {
        position: absolute;
        height: 6.08%;
        width: 85%;
        top: 84.12%;
        left: 10.25%;
    }
    .tagLineOfContent p
    {
        text-align: left;
        text-decoration: underline;
        font-size: 0.6875em;
        letter-spacing: -0.035;
        color: #ffffff;
        opacity: 1;
    }
   
    .readMoreStories
    {
        position: absolute;
        height: 4.76%;
        width: 41.48%;
        top: 86.66%;
        left: 20.74%;
        border-radius: 6.25em;
        background-color: #C1F7D5;
    }
   .readMoreStories h2
    {
    text-align: center;
    padding-top:0.5em; 
    font-family: Helvetica;
    color: #354463;
    font-weight: bold;
    font-size: 1.125em;
    opacity: 1;
    letter-spacing: 0;
    }



    .letsTakeActionNow
    {
            height: 109.5em;
            width: 100%;
            display: grid;
            background-color: #354463;
            grid-template-columns: 8.51% 82.98% 8.51%;
            grid-template-rows: 3.93% 10.61% 4.16% 36.35% 5.42% 36.35% 3.18%;
            grid-template-areas: ". . ."
                                ". headingOfletsTakeActionNow ."
                                ". . ."
                                ". earthDay ."
                                ". . ."
                                ". allUpdates ."
                                ". . .";
    }
        
    
    .headingOfletsTakeActionNow
    {
        grid-area:headingOfletsTakeActionNow; 
        width: 100%;
        height: 100%;
    }
    .headingOfletsTakeActionNow h2
    {
        color: #FFFFFF;
        text-align: center;
        letter-spacing: 0;
        font-size: 2.75em;
        font-family: flood-std;
        line-height: 1;
        opacity: 1;
    }
    .earthDay
    {
        grid-area: earthDay;
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 48.97% 47.88%;
        grid-row-gap: 3.15%;
        grid-template-areas: "earthDayImage "
                                "earthDay2018";
    }
    .earthdayImage
    {
        grid-area: earthDayImage;
        background-image: url("assets/home/tree-planting@3x.png");
        height: 100%;
        background-size: 100% 100%;
    }
    
    .earthDay2018 
    {
        grid-area: earthDay2018;
        width: 100%;
        position: relative;
    }
    .event
    {
        position: absolute;
        height: 13.11%;
        width: 51.28%;
        top: -115.57%;
        left: 24.67%;
        background-color: #ffffff;
        
    }
    .event p 
    {
        font-family: Helvetica;
        text-align: center;
        font-weight: lighter;
        padding-top:0.6em; 
        font-size: 0.875em;
        color: #354463;
        letter-spacing: 0.35em;
    }
    .headingOfearthDay2018 
    {
        position: absolute;
        top: 0%;
    }
    .headingOfearthDay2018 h2 
    {
        color: #ffffff;
        font-size: 1.375em;
        text-align: center;
        font-family: Helvetica;
        font-weight: bold;
        letter-spacing: 0;
    }
    .contentofearthDay2018 
    {
        position: absolute;
        top: 28.84%;
        width: 100%;
    }
    .contentofearthDay2018 p 
    {
        text-align: center;
        color:#ffffff;
        font-size: 0.875em;
        line-height: 1.5;
        font-family: Helvetica;
        font-weight: lighter;
        letter-spacing: 0;
    }
    .readMoreOnearthDay2018 
    {
        position: absolute;
        height: 13.33%;
        width: 50%;
        top: 75.32%;
        left: 25.32%;
        border-radius: 6.25em;
        background-color: #C1F7D5;
    }
    .readMoreOnearthDay2018 h2 
    {
        text-align: center;
        padding-top:0.6em; 
        font-family: Helvetica;
        color: #354463;
        font-weight: bold;
        font-size: 1.125em;
        opacity: 1;
        letter-spacing: 0;
    }
    
    .allUpdates
    {
        grid-area: allUpdates;
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 48.97% 47.88%;
        grid-row-gap: 3.15%;
        grid-template-areas: "insideAllUpdates" 
                            "allUpdatesImage";
    }


    .latestNews
    {
        position: absolute;
        height: 13.11%;
        width: 51.28%;
        top: -115.57%;
        left: 24.67%;
        background-color: #ffffff;
        
    }
    .latestNews p 
    {
        font-family: Helvetica;
        text-align: center;
        font-weight: lighter;
        padding-top:0.6em; 
        font-size: 0.875em;
        color: #354463;
        letter-spacing: 0.35em;
    }
    .updatesFromTheFall 
    {
        position: absolute;
        top: 0%;
    }
    .updatesFromTheFall h2 
    {
        color: #ffffff;
        font-size: 1.375em;
        text-align: center;
        font-family: Helvetica;
        font-weight: bold;
        letter-spacing: 0;
    }
    .contentOfAllUpdates 
    {
        position: absolute;
        top: 28.84%;
        width: 100%;
    }
    .contentOfAllUpdates p 
    {
        text-align: center;
        color:#ffffff;
        font-size: 0.875em;
        line-height: 1.5;
        font-family: Helvetica;
        font-weight: lighter;
        letter-spacing: 0;
    }
    .readMoreAllUpdates 
    {
        position: absolute;
        height: 13.33%;
        width: 50%;
        top: 75.32%;
        left: 25.32%;
        border-radius: 6.25em;
        background-color: #C1F7D5;
    }
    .readMoreAllUpdates h2 
    {
        text-align: center;
        padding-top:0.6em; 
        font-family: Helvetica;
        color: #354463;
        font-weight: bold;
        font-size: 1.125em;
        opacity: 1;
        letter-spacing: 0;
    }
     .allUpdatesImage
     {
         grid-area: insideAllUpdates;
         background-image: url("assets/home/meeting@3x.png");
         height: 100%;
         background-size: 100% 100%;
     }
     
     .insideAllUpdate 
     {
         grid-area: allUpdatesImage;
         width: 100%;
         position: relative;
     }

    
} 

@media only screen and (min-width: 48em)
{
    .stories
    {
        height: 62.43em;
    }
    .storiesImage
    {
        width: 75%;
        height: 56.85%;
        right: 16.66%;
        top: 6.40%;
    
     }
   
    .storiesSection 
    {
	    width: 100%;
        height: 50.52%;
        top: 89.26%;
        right: -11.11%;
    }
    .legend
    {
        height: 7.04%;
        width: 27.77%;
        left: 11.11%;
        top: -3.52%;
    }
    .legend p
    {
        padding-top: 0.6875em;
    }

    .contentOfStories
    {
        width: 84.89%;
        height: 39.93%;
        top: 21.25%;
        left: 11.11%;
    }
    .tagLineOfContent
    {
        height: 4.87%;
        width: 70%;
        top: 73.17%;
        left: 11.11%;
    }
    .tagLineOfContent p
    {
    	font-size: 0.875em;

    }
    .readMoreStories
    {
 
        height: 4.004%;
        width: 20.31%;
        top: 88.76%;
        left: 16.66%;

    }
   .readMoreStories h2
    {
	padding-top:0.7em; 
	font-size: 1.125em;
	}


.letsTakeActionNow
{
        height: 76.56em;
        width: 100%;
        display: grid;
        background-color: #354463;
        grid-template-columns: 8.33% 82.29% 9.38%;
        grid-template-rows: 5.38% 7.34% 4.81% 36.81% 6.25% 33.38% 6.03%;
        grid-template-areas: ". . ."
                            ". headingOfletsTakeActionNow ."
                            ". . ."
                            ". earthDay ."
                            ". . ."
                            ". allUpdates ."
                            ". . .";
}
    

.headingOfletsTakeActionNow
{
    grid-area:headingOfletsTakeActionNow; 
    width: 81.96%;
    height: 100%;
}
.headingOfletsTakeActionNow h2
{
    color: #FFFFFF;
    text-align: left;
    letter-spacing: 0;
    font-size: 2.75em;
    font-family: flood-std;
    line-height: 1;
    opacity: 1;
}
.earthDay
{
    grid-area: earthDay;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns:45.56% 44.46%;
    grid-column-gap: 9.98%;
    grid-row-gap: 0%;
    grid-template-areas: "earthDayImage earthDay2018";
}
.earthdayImage
{
    grid-area: earthDayImage;
    background-image: url("assets/home/tree-planting@3x.png");
    height: 63.85%;
    background-size: 100% 100%;
}

.earthDay2018 
{
    grid-area: earthDay2018;
    width: 100%;
    position: relative;
}
.event
{
    position: absolute;
    height: 8.86%;
    width: 56.93%;
    left: 0em;
    top: 0em;
    background-color: #ffffff;
    
}
.event p 
{
    font-family: Helvetica;
    text-align: center;
    font-weight: lighter;
    padding-top:0.6em; 
    font-size: 0.875em;
    color: #354463;
    letter-spacing: 0.35em;
}
.headingOfearthDay2018 
{
    position: absolute;
    top: 16.85%;
}
.headingOfearthDay2018 h2 
{
    color: #ffffff;
    font-size: 1.75em;
    text-align: left;
    font-family: Helvetica;
    font-weight: bold;
    letter-spacing: 0;
}
.contentofearthDay2018 
{
    position: absolute;
    top: 46.34%;
    width: 100%;
}
.contentofearthDay2018 p 
{
    text-align: left;
    color:#ffffff;
    font-size: 1em;
    line-height: 1.5;
    font-family: Helvetica;
    font-weight: lighter;
    letter-spacing: 0;
}
.readMoreOnearthDay2018 
{
    position: absolute;
    height: 8.86%;
    width: 55.52%;
    left: 0em;
    top: 91.13%;
    border-radius: 6.25em;
    background-color: #C1F7D5;
}
.readMoreOnearthDay2018 h2 
{
    text-align: center;
    padding-top:0.6em; 
    font-family: Helvetica;
    color: #354463;
    font-weight: bold;
    font-size: 1.125em;
    opacity: 1;
    letter-spacing: 0;
}

.allUpdates
{
    grid-area: allUpdates;
    display: grid;
    grid-template-columns:44.69% 45%;
    grid-template-rows: 1fr;
    grid-column-gap: 10.31%;
    grid-row-gap: 0em;
    grid-template-areas: "insideAllUpdates allUpdatesImage";
}
.latestNews
{
    position: absolute;
    height: 9.77%;
    width: 55.93%;
    left: 0em;
    top: 0em;
    background-color: #ffffff;
    
}
.latestNews p
{
    font-family: Helvetica;
    text-align: center;
    font-weight: lighter;
    padding-top:0.8em; 
    font-size: 0.875em;
    color: #354463;
    letter-spacing: 0;
}
.updatesFromTheFall
{
    position: absolute;
    top: 18.58%;
}
.updatesFromTheFall h2
{
    color: #ffffff;
    font-size: 1.75em;
    text-align: left;
    font-family: Helvetica;
    font-weight: bold;
    letter-spacing: 0;
}
.contentOfAllUpdates
{
    position: absolute;
    top: 42.29%;
    width: 100%;
}
.contentOfAllUpdates p
{
    text-align: left;
    color:#ffffff;
    font-size: 1em;
    line-height: 1.5;
    font-family: Helvetica;
    font-weight: lighter;
    letter-spacing: 0;
}
.readMoreAllUpdates
{
    position: absolute;
    height: 9.77%;
    width: 54.54%;
    top: 90.22%;
    border-radius: 6.25em;
    left: 0%;
    background-color: #C1F7D5;
}
.readMoreAllUpdates h2
{
    text-align: center;
    padding-top:0.6em; 
    font-family: Helvetica;
    color: #354463;
    font-weight: bold;
    font-size: 1.125em;
    opacity: 1;
    letter-spacing: 0;
}


.insideAllUpdate
{
    grid-area: insideAllUpdates;
    position: relative;
}
.allUpdatesImage
{
    grid-area: allUpdatesImage;
    background-image: url("assets/home/meeting@3x.png");
    background-size: 100% 100%;
    height: 70.41%;
}



   
}

@media only screen and (min-width: 64em)
{
    .stories
    {
        position: relative;
        width: 100%;
        height: 51.5em;
    }
    .storiesImage
    {
        position: absolute;
        background-image: url("assets/home/lady-baby@3x.png");
    
        width: 44.44%;
        height: 68.93%;
        right: 11.11%;
        top: 15.53%;
        background-size: 100% 100%;
        
    }
   
    .storiesSection 
    {
        position: absolute;
        background-color:#354463;
        width: 85%;
        height: 60.56%;
        top: 19.71%;
        right: 90%;
    }
    .legend
    {
        position: absolute;
        height: 7.04%;
        width: 25%;
        left: 10%;
        top: -3.52%;
        background-color:#354463;
    }
    .legend p
    {
        text-align: center;
        padding-top: 0.6875em;
        color: #ffffff;
    }

    .contentOfStories
    {
        position: absolute;
        width: 76.97%;
        height: 59.97%;
        top: 15.11%;
        left: 11.76%;
    }
    .contentOfStories h2
    {
        font-size: 1.6em;
        text-align: left;
        letter-spacing: 0;
        color: #ffffff;
        opacity: 1;
        font-family: Helvetica;
        font-weight: bold;
    }
    .tagLineOfContent
    {
        position: absolute;
        height: 4.06%;
        width: 70%;
        top: 77.17%;
        left: 11.76%;
    }
    .tagLineOfContent p
    {
        text-align: left;
        text-decoration: underline;
        font-size: 0.875em;
        letter-spacing: -0.035;
        color: #ffffff;
        opacity: 1;
    }
   
    .readMoreStories
    {
        position: absolute;
        height: 5.82%;
        width: 11.11%;
        top: 78.64%;
        left: 11.11%;
        border-radius: 6.25em;
        background-color: #C1F7D5;
    }
   .readMoreStories h2
    {
        text-align: center;
    padding-top:0.8125em; 
    font-family: Helvetica;
    color: #354463;
    font-weight: bold;
    font-size: 1.125em;
    opacity: 1;
    letter-spacing: 0;
    }



    .letsTakeActionNow
{
    height: 107.875em;
    width: 100%;
    display: grid;
    background-color: #354463;
    grid-template-columns: 11.11% 77.78% 11.11%;
    grid-template-rows: 7.41% 8.57% 4.32% 33.57% 6.48% 33.37% 6.48%;
    grid-template-areas: ". . ."
                        ". headingOfletsTakeActionNow ."
                        ". . ."
                        ". earthDay ."
                        ". . ."
                        ". allUpdates ."
                        ". . .";
}

.headingOfletsTakeActionNow
{
    grid-area:headingOfletsTakeActionNow; 
    width: 75.625%;
    height: 100%;
}
.headingOfletsTakeActionNow h2
{
    color: #FFFFFF;
    text-align: left;
    letter-spacing: 0;
    font-size: 4.5em;
    font-family: flood-std;
    line-height: 1;
    opacity: 1;
}
.earthDay
{
    grid-area: earthDay;
    display: grid;
    grid-template-columns:51.42% 40%;
    grid-column-gap: 9.41%;
    grid-template-areas: "earthDayImage earthDay2018";
}
.earthdayImage
{
    grid-area: earthDayImage;
    background-image: url("assets/home/tree-planting@3x.png");
    background-size: 100% 100%;
    height: 100%;
}

.earthDay2018 
{
    grid-area: earthDay2018;
    width: 100%;
    position: relative;
}
.event .latestNews
{
    position: absolute;
    height: 6.94%;
    width: 35.71%;
    background-color: #fff;
    
}
.event p , .latestNews p
{
    font-family: Helvetica;
    text-align: center;
    font-weight: lighter;
    padding-top:0.9em; 
    font-size: 1.125em;
    color: #354463;
    letter-spacing: 0.35em;
}
.headingOfearthDay2018 , .updatesFromTheFall
{
    position: absolute;
    top: 15.27%;
}
.headingOfearthDay2018 h2 , .updatesFromTheFall h2
{
    color: #ffffff;
    font-size: 2.75em;
    text-align: left;
    font-family: Helvetica;
    font-weight: bold;
    letter-spacing: 0;
}
.contentofearthDay2018 , .contentOfAllUpdates
{
    position: absolute;
    top: 47.74%;
    width: 100%;
}
.contentofearthDay2018 p , .contentOfAllUpdates p
{
    text-align: left;
    color:#ffffff;
    font-size: 1.25em;
    line-height: 1.5;
    font-family: Helvetica;
    font-weight: lighter;
    letter-spacing: -0.025em;
}
.readMoreOnearthDay2018 , .readMoreAllUpdates
{
    position: absolute;
    height: 8.33%;
    width: 35.71%;
    top: 82.63%;
    border-radius: 6.25em;
    background-color: #C1F7D5;
}
.readMoreOnearthDay2018 h2 , .readMoreAllUpdates h2
{
    text-align: center;
    padding-top:0.8125em; 
    font-family: Helvetica;
    color: #354463;
    font-weight: bold;
    font-size: 1.125em;
    opacity: 1;
    letter-spacing: 0;
}

.allUpdates
{
    grid-area: allUpdates;
    display: grid;
    grid-template-columns:40% 51.42%;
    grid-column-gap: 9.41%;
    grid-template-areas: "insideAllUpdates allUpdatesImage";
}

.insideAllUpdate
{
    grid-area: insideAllUpdates;
    position: relative;
}
.allUpdatesImage
{
    grid-area: allUpdatesImage;
    background-image: url("assets/home/meeting@3x.png");
    background-size: 100% 100%;
    height: 100%;
}



}

