
@media only screen and (min-width: 48em)
{
    .header
    {
        display: grid;
        height: 8em;
        grid-template-columns: 8.33% 12.23% 15.61% 15.75% 21.22% 18.22% 8.64%;
        grid-template-rows: 71.875% 28.125%;
        grid-template-areas: 
        ". mainLogo mainLogo  . .  donateToday ."
        ". aboutUs ourStories newsandEvents . . ."; 
        /* background-color: #ff0; */

    }
    
    .header .mainLogo h3
{
      text-align: left;
    padding-top:1.25em; 
    font-size:100%;
}
 .header div p
{
    font-size: 96%;
    font: Light 16px/24px Helvetica;
}
 .ourStories p
    {
        margin-top: 0em !important;
    }
     .donateToday
    {
        height: 3em;
        width: 10em;
        margin-top: 2.5em;
}
      .donateToday h4
    {
        /* Layout Properties*/
        margin-top: 0.8025em;
        font: Bold 18px/22px Helvetica;
    }
/* *********Header Completed*************** */

/*  *************Section-A********************* */

.grid
{
    width: 100%;
    height: 43em;
    display: grid;
    grid-template-columns: 8.33% 83.33% 8.34%;
    grid-template-rows: 10.02% 19.76% 13.66% 44.91% 11.65%;
    grid-template-areas: ". . ."
                         ". stopClimateChangeImage . "
                         ". . ."
                         ". climateBox ."
                         ". . .";
}
.bgImage
{
    height: 43em;
}


.stopClimateChangeImage
{
    width: 28.28%;
}


.theIssuue
{
    width: 24.375%;
    height: 12.94%;
    left: 10%;
    top: -4.80%;
}

.contentOfClimateBox
{
    height:44.66%;
    width: 80%;
    left: 10%;
    top:19.09%;
    
}
.contentOfClimateBox h2
{
    font-size: 2.25em;
} 
.readMorecontentOfClimateBox
{
    top: 74.111%;
    height: 3.84%;
    width: 69.11%;
    left: 10%;
}

/* ********Section-B************* */

.takeActionContent
{
    display: grid;
    height: 21em;
    grid-template-columns: 8.33% 33.33% 16.66% 33.33% 14.68%;
    grid-template-rows: 19.04% 25% 13.09% 25% 17.87%;
    grid-template-areas:
    ". . . . ."
    ". column1 . column2 ."
    ". . . . ."
    ". column3 . column4 ."
    ". . . . .";
}

.takeAction
{
   width: 20.83%;
    height: 11.90%;
    left: 39.58%;
    top: -5.95%;
    background: #354463 0% 0% no-repeat padding-box;
    
}



/*********** Section-C ************/

.whatWeDoForClimate
{
    display: grid;
    width: 100%;
    height: 86.5em;
    grid-template-columns: 8.33% 83.34% 8.33%;
    grid-template-rows: 4.33% 2.89% 2.31% 10.11% 6.35% 69.93% 6.39%;
    background-color: #354463;
    border: 1px solid black;
    grid-template-areas:
    ". . ."
    ". whatWeDo ."
    ". . ."
    ". ourMission ."
    ". . ."
    ". differentApproaches ."
    ". . .";
}
.whatWeDo
{
    grid-area: whatWeDo;
    width: 25%;
    margin-left: 0%;

}
.whatWeDo p
{
    margin-top: 0.6875em; 
    text-align: center;
}
.ourMission
{
    grid-area: ourMission;   
}
.ourMission h2
{
    font-size: 2.20em;
    letter-spacing: 0;
}
.differentApproaches
{
    grid-area: differentApproaches;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 28.92% 28.92% 28.92%;
    grid-template-areas: "treePlantingInitiative"
                            " educationAndTraining"
                            "advocacyAndCampaigning";
    grid-row-gap: 6.61%;
                
}
 .treePlantingInitiative
{
    grid-area: treePlantingInitiative;
}
 .educationAndTraining
{
    grid-area: educationAndTraining;
}
 .advocacyAndCampaigning
{
    grid-area: advocacyAndCampaigning;
} 
.differentApproaches img
{
    width: 45%;
    height: 71.78%;
    left: 5%;
    top: -11.428%;
}
.headingOfDifferentApproaches
{
    left: 55%;
    height: 17.36%;
    top: 12.5%;
    width: 24.06%;
}
.headingOfDifferentApproaches h1
{
    font-size: 1.375em;
}
.contentOfDifferentApproaches
{
    left: 55%;
    height: 40%;
    top: 42.14%;
    width: 38.43%;
}
.contentOfDifferentApproaches p
{
    color: #354463;
    text-align: left;
}
.readMoreButtonOfDifferentApproaches
{
    left: 24.375%;
    height: 14.28%;
    top: 68.57%;
    width: 24.375%;
}

/* ******************Section-D********************* */
.backGroundImage
{
    height: 52.0625em;
}
.climateChangeIsAHungerIssue
{
    
   
    height: 52.0625em;
    display: grid;
    grid-template-columns: 8.07%  33.59% 50% 8.34%;
    grid-template-rows: 7.80% 84.51% 7.69%;
    grid-template-areas: ". . . ."
                        ". climateChangeHunger aboutPovertyBlock ."
                        ". . . .";
}
.climateChangeHunger
{
    grid-area: climateChangeHunger;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:32.38% 63.9%;
    grid-row-gap: 3.72%; 
}
.climateChangeHungerImage img
{
    width: 74.80%;
    height: 100%;

}
.readMoreOnClimateChangeHunger
{
    height: 8.88%;
    width: 60.93%;
}
.readMoreOnClimateChangeHunger h2
{
    padding-top:0.5em; 
    font-size: 1.125em;
}
.aboutPovertyBlock
{
    grid-area: aboutPovertyBlock;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 21.59% 21.59% 21.59%;
    grid-template-areas: "povertyReason"
                        "povertyReason"
                        "povertyReason"
                        "povertyReason";
    grid-row-gap: 2em;
}

 .headingOfPovertyReasons
{
    top: 19.07%;
    left: 8.33%;
    height: 23.68%;
    font-size: 2.25em;
}
 .contentOfPovertyReasons
{
    top: 50.65%;
    left: 8.33%;
    width: 60%;
    font-size: 1em;
}

 .twitterLogo
{
    width: 8.33;
    height: 21.05%;
    left: 83.33%;
    top: 21.05%;
}
 .facebookLogo
{
    width: 8.33;
    height: 21.05%;
    left: 83.33%;
    top: 57.89%;
}
.didYouKnow
{
    width: 41.66%;
    height: 26.31%;
    left: 8.33%;
    top: -13.15%;
}
.didYouKnow p
{
    margin-top:0.56em; 
} 

/* ************Section-E******** */





/* ************************Section-E**************** */

.stories
{
    height: 62.43em;
}
.storiesImage
{
    width: 75%;
    height: 56.85%;
    right: 16.66%;
    top: 6.40%;

 }

.storiesSection 
{
    width: 100%;
    height: 50.52%;
    top: 89.26%;
    right: -11.11%;
}
.legend
{
    height: 7.04%;
    width: 27.77%;
    left: 11.11%;
    top: -3.52%;
}
.legend p
{
    padding-top: 0.6875em;
}

.contentOfStories
{
    width: 84.89%;
    height: 39.93%;
    top: 21.25%;
    left: 11.11%;
}
.tagLineOfContent
{
    height: 4.87%;
    width: 70%;
    top: 73.17%;
    left: 11.11%;
}
.tagLineOfContent p
{
    font-size: 0.875em;

}
.readMoreStories
{

    height: 4.004%;
    width: 20.31%;
    top: 88.76%;
    left: 16.66%;

}
.readMoreStories h2
{
padding-top:0.7em; 
font-size: 1.125em;
}


.letsTakeActionNow
{
    height: 76.56em;
    width: 100%;
    display: grid;
    background-color: #354463;
    grid-template-columns: 8.33% 82.29% 9.38%;
    grid-template-rows: 5.38% 7.34% 4.81% 36.81% 6.25% 33.38% 6.03%;
    grid-template-areas: ". . ."
                        ". headingOfletsTakeActionNow ."
                        ". . ."
                        ". earthDay ."
                        ". . ."
                        ". allUpdates ."
                        ". . .";
}


.headingOfletsTakeActionNow
{
grid-area:headingOfletsTakeActionNow; 
width: 81.96%;
}
.headingOfletsTakeActionNow h2
{
text-align: left;
}
.earthDay
{
grid-area: earthDay;
display: grid;
grid-template-rows: 1fr;
grid-template-columns:45.56% 44.46%;
grid-column-gap: 9.98%;
grid-row-gap: 0%;
grid-template-areas: "earthDayImage earthDay2018";
}
.earthdayImage
{
grid-area: earthDayImage;
height: 63.85%;
}

.earthDay2018 
{
grid-area: earthDay2018;
}
.event
{
height: 8.86%;
width: 56.93%;
left: 0em;
top: 0em;
}

.headingOfearthDay2018 
{
top: 16.85%;
}
.headingOfearthDay2018 h2 
{
font-size: 1.75em;
text-align: left;
}
.contentofearthDay2018 
{
top: 46.34%;
width: 100%;
}
.contentofearthDay2018 p 
{
text-align: left;
font-size: 1em;
line-height: 1.5;
}
.readMoreOnearthDay2018 
{
height: 8.86%;
width: 55.52%;
left: 0em;
top: 91.13%;
}
.allUpdates
{
grid-area: allUpdates;
display: grid;
grid-template-columns:44.69% 45%;
grid-template-rows: 1fr;
grid-column-gap: 10.31%;
grid-row-gap: 0em;
grid-template-areas: "insideAllUpdates allUpdatesImage";
}
.latestNews
{
height: 9.77%;
width: 55.93%;
left: 0em;
top: 0em;
}
.latestNews p
{
padding-top:0.8em; 
font-size: 0.875em;
}
.updatesFromTheFall
{
top: 18.58%;
}
.updatesFromTheFall h2
{
font-size: 1.75em;
text-align: left;
}
.contentOfAllUpdates
{
top: 42.29%;
width: 100%;
}
.contentOfAllUpdates p
{
text-align: left;
font-size: 1em;
line-height: 1.5;
}
.readMoreAllUpdates
{
height: 9.77%;
width: 54.54%;
top: 90.22%;
left: 0%;
}
.insideAllUpdate
{
grid-area: insideAllUpdates;
position: relative;
}
.allUpdatesImage
{
grid-area: allUpdatesImage;
background-image: url("assets/home/meeting@3x.png");
background-size: 100% 100%;
height: 70.41%;
}





/* *************Section-F**************** */
.subscribe
{
    display: grid;
    height: 15.9375em;
    grid-template-columns: 8.33% 83.33% 8.34%;
    grid-template-rows: 23.92% 51.37% 24.71%;
    grid-template-areas: ". . ."
                        ". subscriptionDetails ."
                        ". . .";
}

.subscriptionDetails
{
    grid-area: subscriptionDetails;
    display: grid;
    grid-template-columns: 70% 25%;
    grid-template-rows: 45.03% 30.53%;
    grid-gap:24.44% 5%;
    grid-template-areas: "headingOfSubscriptionDetails ."
                        "mailIdforSubscription readMoreForSubscription";
}

.headingOfSubscriptionDetails
{
    grid-area: headingOfSubscriptionDetails;
} 

.headingOfSubscriptionDetails h2
 {
     font-size: 1.375em;
 }
 .mailIdforSubscription
 {
     grid-area: mailIdforSubscription;
     background-color: #fff;
     margin: 0em 0em;
 }
 .mailIdforSubscription p
 {
     margin: 0.45em 0em 0em 1.5em;
     font-size: 1.25em;
}

.readMoreForSubscription
{
    grid-area: readMoreForSubscription;
    margin: 0em 0em;
    border-radius: 6.25em;
}
.readMoreForSubscription h2
{
    margin: 0.75em 0em 0em 0em;
    font-size: 1.125em;
}


/* **************Footer********************* */

.footer
    {
        height: 26.5em;
        width: 100%;
        display: grid;
        
        grid-template-columns: 8.33% 19.92% 9.24% 16.40% 12.76% 23.56% 9.79%;
        grid-template-rows: 14.15% 32.54% 10.09% 32.07% 11.15%;
        grid-template-areas: ". . . . . . ."
                             ". footerMainLogo .  contactUs . followUs ."
                             ". . . . . . ."
                             ". . . links . footerImage ."
                             ". . . . . . .";
    }
    .footerMainLogo
    {
        grid-area: footerMainLogo;
    }
    .footerMainLogo h2
    {
        text-align: left;
        font-weight: bold;
        font-size: 1.375em;
        color: #354463;
    }
    .contactUs
    {
        grid-area: contactUs;
        width: 70%;
        margin-left: 0em;
    }
    .contactUs p , .links p , .followUs p
    {
        text-align: left;
        font-weight: Helvetica;
        letter-spacing: -0.0875em;
        font-size: 0.875em;
        line-height: 1.5;
    }
    .links
    {
        grid-area: links;
        width: 60%;
        margin-left: 0em;
    }
    .followUs
    {
        grid-area: followUs;
        width: 70%;
    }







}
